apiVersion: apps/v1
kind: Deployment
metadata:
  name: aceest-fitness-canary
  labels:
    app: aceest-fitness
spec:
  replicas: 3
  selector:
    matchLabels:
      app: aceest-fitness
  template:
    metadata:
      labels:
        app: aceest-fitness
    spec:
      containers:
        - name: aceest-fitness-stable
          image: 9kiran/aceest_fitness:stable
          ports:
            - containerPort: 5000
        - name: aceest-fitness-canary
          image: 9kiran/aceest_fitness:canary
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: aceest-fitness-canary-service
spec:
  type: LoadBalancer
  selector:
    app: aceest-fitness
  ports:
    - port: 80
      targetPort: 5000
