apiVersion: v1
kind: Service
metadata:
  name: aceest-fitness-service
spec:
  type: LoadBalancer  # use NodePort if on Minikube
  selector:
    app: aceest-fitness
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
